<meta property="og:image" content="https://stevelanderson42.github.io/assets/og-image.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="https://stevelanderson42.github.io/assets/og-image.png" />
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "c783f957c93142ad9c171aba01fd663c"}'></script><!-- End Cloudflare Web Analytics -->